body {
    font-family: 'Roboto', sans-serif;
}
.app {
    width: 750px;
    padding: 35px 35px;
}
.title {
    font-size: 35px;
    border-bottom: 3px dashed #E1E1E1;
}
.list {
    list-style-type: none;
    padding: 0;
}
.item {
    display: flex;
    border: 2px solid #E1E1E1;
    border-radius: 15px;
    padding: 15px 20px 20px 25px;
    align-items: center;
    margin: 20px 0;

}
.avatar {
    flex: 1;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-right: 20px;
}
.content {
    flex: 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    font-size: 30px;
    margin: 0;
}
.email {
    font-size: 25px;
    color: #8A8A8B;
    font-weight: 300;
    margin: 5px;
}
.delete {
    margin-right: 20px;
}
.delete-icon {
    font-size: 40px;
    color: #F04F57;
    font-weight: 300;
}